@use 'variables' as v;

.navbar__toggle {
    display: none;
}

.navbar {
    background-image: url(/src/assets/chll.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 370px;
    position: relative;

    @media (max-width: 1280px) {
        min-height: 300px;
    }

    @media (max-width: 1024px) {
        min-height: 200px;
    }

    @media (max-width: 768px) {
        min-height: 150px;
    }

    @media (max-width: 576px) {
        min-height: 100px;
    }

    @media (max-width: 360px) {
        min-height: 80px;
    }

    &__menu {
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;

        a {
            margin: 5px 30px;
            color: v.$color-title;
            text-decoration: none;
            font-size: 25px;
            font-family: v.$fuente1, v.$fuente2, v.$fuente3, v.$fuente4, sans-serif;

            &:hover {
                color: v.$color-title-hover;
                text-decoration: none;

            }

            &.active {
                color: v.$color-secondary;
                font-weight: bold;
                transform: translateY(2px);
                /* Puedes aplicar transformaciones para dar un efecto visual */

            }

            &:active {
                transform: translateY(4px);
            }
        }

    }
}

/* Estilos para dispositivos con un ancho menor a 1023px */
@media (max-width: 1023px) {
    .navbar__menu {
        display: none;
    }

    .navbar__menu-icon {
        display: block;

    }

}

@media (max-width: 1023px) {
    .navbar__menu {
        display: none;
        background-image: url('https://i.pinimg.com/originals/56/c8/32/56c832354d646b749ec61af1033d8718.jpg');
        background-size:contain;
        background-repeat:no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        text-align: center;
        justify-content: flex-start;
        padding: 15px;
        z-index: 20;
    }

    .navbar__menu.open {
        display: flex;
        flex-direction: column;
        
    }

    .navbar__toggle {
        position: fixed;
        color: rgb(115, 255, 0);
        display: block;
        top: 15px;
        left: 20px;
        cursor: pointer;
        font-size: 34px;
        z-index: 1000;
        transition: transform 0.3s;
        background-color: #5300f9;
    }
}

.navbar__toggle {
    transition: transform 3s;
}

.navbar__toggle.open {
    transform: rotate(180deg);
}

@media (max-width: 834px) {
     
      .topbar-wrapper {
        display: none; // Oculta el componente Topbar en dispositivos móviles
      }
    
  }

  


 
  

  