@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Creepster&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');

$fuente1: 'Agbalumo', sans-serif;
$fuente2: 'Creepster', sans-serif;
$fuente3: 'Permanent Marker', sans-serif;
$fuente4: 'Shadows Into Light', sans-serif;

// Definir variables de colores
$color-primary: #104570; // 
$color-secondary: #0BB10C; // 
$color-accent: #e67e22; // 

// Otras variables
$color-title: #fff;
$color-title-hover: #104570;
$color-title-active: #6aff00;

